.box {
    width: 80px;
    height: 80px;

}
.fixed {
    position: fixed;
}
.left {
    left: 0
}
 .right {
     right: 0;
 }
 .bottom {
     bottom: 0;

 }
 .top {
     top:0;
 }
 div:nth-child(1) {
     background-color: brown;
 }
 div:nth-child(2) {
    background-color: rgb(42, 165, 138);
}
div:nth-child(3) {
    background-color: rgb(75, 42, 165);
}
div:nth-child(4) {
    background-color: rgb(236, 233, 233);
}

